language: elixir
sudo: false
elixir: 1.6.4
os: linux
otp_release: 20.0
matrix:
  include:
    - os: linux
      otp_release: 19.1
    - os: linux
      otp_release: 19.2
    - os: linux
      otp_release: 19.3
    - os: linux
      otp_release: 20.0
before_script:
  - mix deps.get --only test
script:
  - mix test --exclude integration:true
